@font-face {
	font-family: NexaBold;
	src: url(./content/fonts/NexaBold.otf);
}

@font-face {
	font-family: NexaLight;
	src: url(./content/fonts/NexaLight.otf);
}


.navbar {
	position: fixed;
	top: 0px;
	width: 100%;
}

.header {
	font-family: NexaBold;
	margin-top: 100px;
	text-align: center;
}

.articleFrontPageText {
	margin-top: 150px;
	margin-right: 250px;
	font-family: NexaLight;
}

.articleP {
	margin-left: 125px;
	margin-top: 100px;
	font-family: NexaLight;
}

.articleImg {
	float: left;
	width: 20%;
	height: 300px;
}

.smallHeader {
	font-family: NexaLight;
	text-align: center;
}

.profilePicture {
	border-radius: 50%;
	height: 70%;
	width: 70%;
}

.profileChildContainer {
	display: inline-block;
	font-family: NexaLight;
	margin-top: 50px;
	margin-left: 50px;
}

.profileParentContainer {
	text-align: center;
	background-color: #eaebed;
	border-radius: 3%;
	width: 90%;
	margin: auto;
	margin-top: 75px;
}

.emailLink {
	color: #0057ED;
	font-size: 50px;
	font-family: NexaLight;
}

.bottomBanner {
	margin-bottom: 0px;
	margin-top: 100px;
	height: 100%;
	width: 100%;
	background-color: #eaebed;
}

.bannerHeader {
	font-family: NexaLight;
	text-align: center;
}

.bannerP {
	font-family: NexaLight;
	text-align: center;
	padding-top: 25px;
}

.bannerImg {
	width: 50px;
	height: 50px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.btn {
	margin-top: 10px;
}

.articlePdfContainer {
	text-align: center;
	margin: auto;
	margin-top: 100px;
	border-radius: 3%;
	width: 85%;
	height: 800px;
}

.articleHeaderContainer {
	text-align: left;
	text-align: justify;
}

.articleHeaderP {
	font-family: NexaLight;
	margin-left: 100px;
	width: 60%;
}

.articleHeader {
	margin-top: 100px;
	margin-left: 100px;
	font-family: NexaBold;
	text-align: left;
	display: inline-block;
}

.articleHeaderSmall {
	margin-top: 10px;
	margin-left: 100px;
	font-family: NexaLight;
	text-align: left;
}







